
.vs/MyToDo/DesignTimeBuild/.dtbcache.v2
.vs/MyToDo/v16/.suo
.vs/MyToDo/v17/.futdcache.v1
.vs/MyToDo/v17/.suo
MyToDo.Api/bin/Debug/net6.0/MyToDo.Api.dll
MyToDo.Api/bin/Debug/net6.0/MyToDo.Api.exe
MyToDo.Api/bin/Debug/net6.0/MyToDo.Api.pdb
MyToDo.Api/bin/Debug/net6.0/MyToDo.Shared.dll
MyToDo.Api/bin/Debug/net6.0/MyToDo.Shared.pdb
MyToDo.Api/logs/Hello_2022-04-01.00.log
